@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sigmar', cursive;
    
}
.container{
    background-color: bisque;
    width: 90%;
    margin: 3em auto;
    padding: .5em .2em;
    border-radius: 10px;
}

.inputDate{
     margin: 3em 3em 1.5em 3em;
    gap: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}
label{
    font-size: .8em;
    letter-spacing: 2px;
    font-weight: 600;
}


input{
    width: 100%;
    padding: .5em .7em;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Sigmar', cursive;
    letter-spacing: 2px;
 

}

input::placeholder {
    color: hsl(260, 6%, 80%);
  }
  
.birthday{
    text-align: center;
    margin-bottom: 3em;
    letter-spacing: 2px;
    font-weight: 900;
}
#btn{
    display: block;
    margin: 2.5em auto 2.5em auto;
    padding: .7em 1.3em;
    border-radius: 10px;
    border: 1px solid rgb(223, 229, 229);
    letter-spacing: 2px;
    background-color: azure;
    font-weight: 700;
    color: rgb(75, 63, 63);
    font-family: 'Sigmar', cursive;
}

#btn:hover{
    background-color: hsl(259, 93%, 68%);
    color: black;
}
/* .strongStyle{
    font-size: 2em;
    
} */

@media (min-width: 768px) {
    .container{
        width: 60%;
        padding: 3em 6em 1em 6em ;
    }
    .inputDate{
        margin: 3em -1em 1.5em -1em;
       gap: .5em;
   
   }
}

@media (min-width: 1200px) {
    .container{
        width: 50%;
        padding: 3em 8em 1em 8em ;
    }
}